{{!-- 
    <div class="ui container">
        <h1>H2O-Leveller</h1>
        <h2>Enter a city name to get daily water limit</h2>
        <div class="ui input">
            <input name="cityName" row='1' cols="20" class="cityInput" placeholder="Enter a city name">
        </div>
        <button class="ui basic green button submitButton" type="submit" name="button">Submit</button>
        <span class="weatherDisplay">

        </span>
    </div>

 --}}
